version: "3.9"

services:
    palette-generator-dev:
        build:
            context: .
            dockerfile: Dockerfile.dev
        container_name: palette_generator_dev
        ports:
            - "5000:5000"
        environment:
            - FLASK_ENV=development
            - FLASK_APP=run.py
            - FLASK_DEBUG=1
        volumes:
            - ./:/app
        stdin_open: true
        tty: true
        restart: unless-stopped
        networks:
            - palette_network

networks:
    palette_network:
        driver: bridge
